<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Форма для ввода</title>
        <link rel="stylesheet" href="/static/main.css" type="text/css">
    </head>
    <body>
        <ul>
            <li>
                <a href="/index">Главная</a>
            </li>
            <li>
                <a href="/form">Форма</a>
            </li>
            <li>
                <a href="/result">Результаты</a>
            </li>
        </ul>
        <h1>Форма для поиска</h1>
        <form>
            <input type="text" name="text">
            <button type="submit">Send</button>
        </form>
    </body>
</html>