<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="test_style.css" rel="stylesheet">
	<title>
		Тут может быть ваша реклама
	</title>
</head>

<body>
	<div>
		<h3>
			Тут может быть ваша реклама
		</h3>
	</div>
	<div>
		Тут может быть ваша реклама
	</div>
	<div class="product-grid">
		<div class="product-item">
			<img src="test.png" alt="Product 1">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 2">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 3">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 4">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 5">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 6">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 7">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 8">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 9">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 10">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 11">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<div class="product-item">
			<img src="test.png" alt="Product 12">
			<h3>Тут может быть ваша реклама</h3>
			<p>Тут может быть ваша реклама</p>
		</div>
		<!-- Повторите .product-item для каждого товара -->
	</div>
</body>

</html>